{% extends "_onecol.html" %}

{% block title %}Ahmed Zerouali{% endblock %}

{% block body %}
<h1>Publications</h1>

{% set biblio = load_yaml('biblio.yaml') %}

{% set last = {'year': -1, 'kind': None} %}

{% for item in biblio|sort(reverse=True, attribute='kind')|rejectattr('kind', 'equalto', 'Presentation') %}

  {% if last['kind'] != item.kind %}
      <h3><b>{{ item.kind }}</b></h3>

    {% if last.update({'kind': item.kind, 'kind': None}) %}{% endif %}
  {% endif %}

  {% if last['kind'] != item.kind %}
    {% if last.update({'kind': item.kind}) %}{% endif %}
  {% endif %}
  <p><li>
    {% if item.pdf %}<a href="{{ item.pdf }}"><strong >{% if item.kind[0] != 'P' %}[{{item.kind[0]}}{{ item.number }}] -{% endif %} {{ item.title }}</strong></a><br />
    {% else %}
    <strong >{% if item.kind[0] != 'P' %}[{{item.kind[0]}}{{ item.number }}] -{% endif %} {{ item.title }}</strong><br />{% endif %}
    {{ item.authors }}
    {% if item.doi %}{% if item.published %}<br /><a href="{{ item.doi }}">{{ item.published }} - {{ item.year }} </a>{% endif %} 
    {% else %}
    {% if item.published %}<br />{{ item.published }} - {{ item.year }} {% endif %}
    {% endif %}
    {% if item.misc %}<br />{{ item.misc }}{% endif %}
    <br />
    {% if item.slides %}[<a href="{{ item.slides }}">Slides</a>]{% endif %}{% if item.video %}[<a href="{{ item.video }}">Video</a>]{% endif %}
    {% if item.award %}<br/><a class ="fa fa-star" href="{{ item.award_pdf }}" style="font-weight: bold"> {{ item.award }}{% endif %}</a>
  </li></p>
{% endfor %}

{% endblock %}
