{% extends "_onecol.html" %}

{% block title %}Ahmed Zerouali{% endblock %}

{% block body %}
<h1>Services</h1>

{% set services = load_yaml('services.yaml') %}


<h3>Organizing Committee Member</h3>
{% for item in services|selectattr('kind', 'equalto', 'Organization') %}
<p><li>
        {% if item.link %}<a href="{{ item.link }}"><strong>{{ item.event }} </strong></a>
        {% else %}<strong>{{ item.event }} </strong>
        {% endif %}<br/>
        {{ item.where }}<br/>
</li></p>
{% endfor %}


<h3>Reviewer for International Journals and Conferences</h3>

{% for item in services|selectattr('kind', 'equalto', 'Review') %}
<li>
        {% if item.sub %}{{ item.sub }}{% endif %} <strong>{{ item.where }} </strong>{{ item.year }}
    <br/>
 </li>
{% endfor %}

<h3>Awards</h3>
{% for item in services|selectattr('kind', 'equalto', 'Awards') %}
<p><li>

        {% if item.link %}<a href="{{ item.link }}"><strong>{{ item.award }} </strong></a>
        {% else %}<strong>{{ item.award }} </strong>
        {% endif %}<br/>
        {{ item.where }}<br/>
</li></p>
{% endfor %}

<h3>Research Projects</h3>
{% for item in services|selectattr('kind', 'equalto', 'Projects') %}
<p><li>

        {% if item.link %}<a href="{{ item.link }}"><strong>{{ item.project }} </strong></a>
        {% else %}<strong>{{ item.project }} </strong>
        {% endif %}<br/>
        {{ item.role }}<br/>
        {{ item.period }}<br/>
</li></p>
{% endfor %}

{% endblock %}
