{% extends "_onecol.html" %}

{% block title %}Ahmed Zerouali{% endblock %}

{% block body %}
<h1>Talks</h1>


{% set biblio = load_yaml('biblio.yaml') %}

{% for item in biblio|sort(reverse=True, attribute='year')|selectattr('kind', 'equalto', 'Presentation') %}
  <p><li>
    {% if item.slides %}<a href="{{ item.slides }}"><strong>[T{{ item.number }}] - {{ item.title }}</strong></a>
    {% else %} <strong>[T{{ item.number }}] - {{ item.title }}</strong>
    {% endif %}
    {% if item.published %}<br />{{ item.published }}{% endif %} - {{ item.year }}
    {% if item.misc %}<br />{{ item.misc }}{% endif %}
</li></p>
{% endfor %}

{% endblock %}
